/*INDEX*/

*{
    margin : 0;
    padding: 0;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Fira+Sans:ital,wght@1,500&family=Indie+Flower&family=Poppins:ital,wght@0,200;0,400;0,600;1,400;1,600&family=Quintessential&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap");


.divindex{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 170px 600px 500px 700px 120px;
    grid-template-areas: "header1 header1 header1 header2 header2"
    "navbar navbar navbar navbar navbar"
    "carousel carousel carousel carousel carousel "    
    "imagen1 imagen2 imagen3 imagen4 imagen5 "
    "formulario formulario formulario formulario formulario"
    "footer footer footer footer footer";

}


.header1{
    grid-area: header1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: red;
}




.header2{
    grid-area: header2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 50px;
    color: red;    
}

.bi-door-open:hover{
    color: green;
}
.logo{
    text-decoration: none;
    color: white;
}
.navbar{
    grid-area: navbar;
    
}
.imagen_nav{
    width: 30% ;
    height: 30%;
    margin-top: 0%;
}
.carousel{
    grid-area: carousel;
    align-content: center;
    align-items: center;
    
}

.imagen_carousel{
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-right: 15%;
    
}


.carousel_contenido{
    align-items: center;
    margin-top: 5%;
    align-content: center;
    
}

.imagen1{
    grid-area: imagen1;
    margin-top: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    

}
.imagen1 img{
    width: 80%;
    height: 75%;
    
}

.boton1{
    background-color: yellow;
    color: blueviolet;
}

.imagen2{
    grid-area: imagen2;
    margin-top: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    

}
.imagen2 img{
    width: 80%;
    height: 75%;
    
}
.boton2{
    background-color: orange;
    color: blueviolet;
}


.imagen3{
    grid-area: imagen3;
    margin-top: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    

}
.imagen3 img{
    width: 80%;
    height: 75%;
    
}

.boton3{
    background-color: lightcoral;
    color: blueviolet;
}

.imagen4{
    grid-area: imagen4;
    margin-top: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    

}
.imagen4 img{
    width: 80%;
    height: 75%;
    
}
.boton4{
    background-color: lightcoral;
    color: green;
}
.imagen5{
    grid-area: imagen5;
    margin-top: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    

}
.imagen5 img{
    width: 80%;
    height: 75%;
    
}
.boton5{
    background-color: blueviolet;
    color: white;
}

.imagen{
    width: 80%;
    height: 75%;
}

.formulario{
    grid-area: formulario;
    display: flex;
    flex-direction: column;

    margin-left: 25%;
    margin-right: 25%;
}


.formulario div{
    margin-top: 25%;
   color: blue;
   font-size: 80px;}


.botonc{
    background-color: green;
    color: red;
}


.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}