/*INDEX*/

*{
    margin : 0;
    padding: 0;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Fira+Sans:ital,wght@1,500&family=Indie+Flower&family=Poppins:ital,wght@0,200;0,400;0,600;1,400;1,600&family=Quintessential&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap");


.divindex{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 170px 350px 450px 450px 450px 400px 120px;
    grid-template-areas: "header1 header1 header1 header2"
    "navbar navbar navbar navbar "
    "mensaje mensaje mensaje mensaje"    
    "imagen1 imagen2 imagen3 imagen4 "    
    "imagen5 imagen6 imagen7 imagen8 "
    "imagen9 imagen10 imagen11 imagen12"
    "formulario formulario formulario formulario"   
    "footer footer footer footer ";

}


.header1{
    grid-area: header1;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: red;
}




.header2{
    grid-area: header2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 50px;
    color: red;    
}

.bi-door-open:hover{
    color: green;
}
.logo{
    text-decoration: none;
    color: white;
}

.navbar{
    grid-area: navbar;
    
}
.imagen_nav{
    width: 30% ;
    height: 30%;
    margin-top: 0%;
}
.carousel{
    grid-area: carousel;
    align-content: center;
    align-items: center;
    
}

.imagen_carousel{
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-right: 15%;
    
}


.carousel_contenido{
    align-items: center;
    margin-top: 5%;
    align-content: center;
    
}

.imagen1{
    grid-area: imagen1;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}

.imagen1 img{
    width: 80%;
    height: 75%;
    
}

.boton1{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}

.imagen2{
    grid-area: imagen2;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen2 img{
    width: 80%;
    height: 75%;
    
    
}
.boton2{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}


.imagen3{
    grid-area: imagen3;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen3 img{
    width: 80%;
    height: 75%;
    
}

.boton3{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}

.imagen4{
    grid-area: imagen4;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen4 img{
    width: 80%;
    height: 75%;
    
}
.boton4{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}

.imagen5{
    grid-area: imagen5;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen5 img{
    width: 80%;
    height: 75%;
    
}
.boton5{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}



.imagen6{
    grid-area: imagen6;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen6 img{
    width: 80%;
    height: 75%;
    
}
.boton6{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}

.imagen7{
    grid-area: imagen7;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen7 img{
    width: 80%;
    height: 75%;
    
}
.boton7{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}

.imagen8{
    grid-area: imagen8;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen8 img{
    width: 80%;
    height: 75%;
    
}
.boton8{
    background-color: rgba(255, 60, 0, 0.952);
    color: white;
}


.imagen9{
    grid-area: imagen9;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen8 img{
    width: 80%;
    height: 75%;
    
}



.imagen10{
    grid-area: imagen10;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen img{
    width: 80%;
    height: 75%;
    
}



.imagen11{
    grid-area: imagen11;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen8 img{
    width: 80%;
    height: 75%;
    
}


.imagen12{
    grid-area: imagen12;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    

}
.imagen8 img{
    width: 80%;
    height: 75%;
    
}






.imagen{
    width: 80%;
    height: 75%;
    align-content: center;
}

.formulario{
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    margin-top: 11%;

    margin-left: 25%;
    margin-right: 25%;
}


.formulario div{
    margin-top: 25%;
   color: blue;
   font-size: 80px;}


.botonComprar{
    color: white;
    font-weight: 500;
    background-color: black;
    font-size: 20px;
    margin-left: 73%;
}
.botonc{
    background-color: green;
    color: red;
}


.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.mensaje{
    grid-area: mensaje;
    color: black;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 10%;
}

.colorclima{
    color: red;
    font-weight: 700;
    
    font-size: x-large;
}

.titulo{

    display: flex;
    flex-direction: center;
    color: rgb(90, 85, 85);
    justify-content: center;
}


/* trabajamos con el html formulario*/


.divformulario{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 170px 700px 120px;
    grid-template-areas: "headerformulario headerformulario headerformulario headerformulario2"
    "navbarformulario navbarformulario navbarformulario navbarformulario "
    "formulario1 formulario1 formulario1 formulario1"   
    "footer footer footer footer ";

}


.headerformulario2{
    grid-area: headerformulario2;
}

.headerformulario{
    grid-area: headerformulario;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: red;
}

.navbarformulario{
    grid-area: navbarformulario;
    
    
}


.imagen_nav_formulario{
    width: 20% ;
    height: 20%;
    margin-top: 0%;
}
.formulario1{
    grid-area: formulario1;
    margin-top: 15%;
}

.footerformulario{
    grid-area: footerformulario;
}

